.about-us {
  padding-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 120px;

  @include container-desktop;
}

.about-us__video-link {
  display: block;
  width: 364px;
  z-index: 3;

  background-image: url("../img/video@1x.jpg");
  background-size: 100% auto;
  background-position: center;
  min-height: 228px;
  margin-top: -116px;
  margin-left: 7%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video@2x.jpg");
    background-size: 364px auto;
  }
}

.about-us__video-link::after {
  content: "";
  position: relative;
  display: block;
  background-color: rgba(20, 54, 122, 0.5);
  background-image: url("../img/play-button@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px 100px;
  height: 100%;
  width: 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/play-button@2x.png");
  }
}

.about-us__video-link:focus {
  outline: 4px solid rgb(181, 33, 33);
}

.about-us__text-content {
  padding-top: 47px;
  padding-right: 85px;
  width: 43%;
  padding-left: 60px;
}

.about-us__image-wrapper {
  width: 660px;
  background-color: #d3d3de;
  align-self: baseline;
}

.about-us__title {
  padding-bottom: 8px;
}

.about-us__text-content span {
  display: block;
  padding-bottom: 28px;
  font-family: $content-font;
  color: $titles-color;
  font-size: 18px;
  line-height: 1.5;
}

.about-us__text-content p {
  font-family: $content-font;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin: 10px 0;
  color: $titles-color;
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .about-us {
    @include container-tablet;

    padding-bottom: 98px;
    padding-top: 45px;
    flex-direction: column;
    align-items: center;
  }

  .about-us__title {
    text-align: center;
    padding-bottom: 11px;
  }

  .about-us__image-wrapper {
    width: 100%;
    height: 343px;
    position: relative;
    overflow: hidden;
  }

  .about-us__image-wrapper img {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .about-us__text-content {
    padding: 0;
    padding-top: 50px;
    width: 75%;
    padding-bottom: 34px;
  }

  .about-us__text-content span {
    text-align: center;
    padding-bottom: 24px;
  }

  .about-us__text-content p {
    text-align: center;
  }

  .about-us__text--additional {
    display: none;
  }

  .about-us__video-link::after {
    background-size: 80px 80px;
    height: 167px;
  }

  .about-us__video-link {
    width: 267px;
    min-height: 167px;
    margin-top: -83px;
    margin-left: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-size: 267px auto;
    }
  }
}

@media (max-width: $mobile-maxWidth) {
  .about-us {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 68px;
  }

  .about-us__title {
    padding-bottom: 5px;
  }

  .about-us__text--additional {
    display: none;
  }

  .about-us__text-content span {
    padding-bottom: 16px;
  }

  .about-us__image-wrapper {
    width: 100%;
    position: relative;
    height: 313px;
  }

  .about-us__image-wrapper img {
    height: 100%;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(-20px, -50%);
    min-height: 100%;
    min-width: 100%;
    width: auto;
  }

  .about-us__text-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 45px;
    text-align: left;
    padding-bottom: 22px;
  }

  .about-us__video-link {
    background-image: url("../img/video-mobile.png");
    margin: 0;
    margin-top: 37px;
    height: 50vw;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    z-index: 3;
    min-height: 171px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-mobile@2x.png");
    }
  }

  .about-us__text-content p {
    width: 90%;
  }

  .about-us__video-link::after {
    background-size: 73px 73px;
  }
}
