.about-us {
  padding-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 116px;

  @include container-desktop;
}

.about-us__video-link {
  display: block;
  width: 364px;

  background-image: url("../img/video.jpg");
  min-height: 228px;
  margin-top: -116px;
  margin-left: 7%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video@2x.jpg");
    background-size: 364px auto;
  }
}

.about-us__video-overlay {
  position: relative;
  background-color: rgba(20, 54, 122, 0.5);
  height: 100%;
}

.about-us__video-overlay::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  background-image: url("../img/icon-play.svg");
  background-size: 100%;
}

.about-us__text-content {
  padding-top: 47px;
  padding-right: 85px;
  width: 43%;
  padding-left: 60px;
}

.about-us__title {
  padding-bottom: 8px;
}

.about-us__note {
  display: block;
  padding-bottom: 27px;
  font-family: $content-font;
  color: $titles-color;
  font-size: 18px;
  line-height: 1.5;
}

.about-us__text {
  font-family: $content-font;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin: 10px 0;
  color: $titles-color;
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .about-us {
    padding-top: 49px;
    flex-direction: column;
    align-items: center;
  }

  .about-us__title {
    text-align: center;
    padding-bottom: 11px;
  }

  .about-us__text-content {
    padding: 0;
    padding-top: 47px;
    width: 75%;
    padding-bottom: 30px;
  }

  .about-us__note {
    text-align: center;
  }

  .about-us__text {
    text-align: center;
  }

  .about-us__text--additional {
    display: none;
  }

  .about-us__video-overlay {
    height: 167px;
  }

  .about-us__video-link {
    width: 267px;
    min-height: 167px;
    margin-top: -87px;
    margin-left: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-size: 267px auto;
    }
  }

  .about-us__video-overlay::before {
    width: 73px;
    height: 73px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-maxWidth) {
  .about-us {
    padding: 0;
    padding-top: 20px;
  }

  .about-us__text--additional {
    display: none;
  }

  .about-us__note {
    padding-bottom: 13px;
  }

  .about-us__image-wrapper {
    width: 100%;
  }

  .about-us__text-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 47px;
    text-align: left;
    padding-bottom: 22px;
  }

  .about-us__video-link {
    background-image: url("../img/video-mobile.png");
    margin: 0;
    margin-top: 37px;
    min-height: 168px;
    background-size: 100% auto;
    width: 100%;
    background-repeat: no-repeat;


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-mobile@2x.png");
    }
  }

  .about-us__text {
    width: 90%;
  }

  .about-us__video-overlay::before {
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    width: 73px;
    height: 73px;
  }
}
