.button {
  display: block;
  max-width: 230px;
  min-height: 21px;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  border: 4px solid #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: $content-font;
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .button {
    max-width: unset;
  }
}
