.catalog {
  background-color: #f8f9fc;
  padding-bottom: 90px;
  position: relative;
}

.catalog::after {
  content: "";

  display: block;
  position: absolute;
  right: 0;

  width: 287px;
  height: 414px;
  background-image: url("../img/weights-desktop.png");
  background-size: 100% auto;
  z-index: 2;
  bottom: -64px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/weights-desktop@2x.png");
  }
}

.catalog__wrapper {
  position: relative;

  @include container-desktop;
  padding: 0;
  padding-top: 115px;
  z-index: 3;
}

.catalog__item {
  margin-right: 40px;
}

.catalog__title {
  text-align: center;
  padding-bottom: 35px;
}

.catalog__inner {
  @include container-desktop;
  font-family: $content-font;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__tabs-control {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  padding-bottom: 40px;
}

.catalog__tabs {
  @include list-default;

  padding-bottom: 11px;
  justify-content: space-between;
  display: flex;
  width: 341px;
}

.catalog__tab a {
  color: rgba(16, 38, 84, 0.5);
  font-size: 20px;
  line-height: 1.5;
}

.catalog__tab a:hover {
  color: #102654;
}

.catalog__control {
  position: relative;
  width: 341px;
  height: 2px;
  background-color: rgba(120, 120, 120, 0.2);
}

.catalog__toggler {
  display: block;
  position: absolute;
  width: 66.125px;
  height: 2px;
  background-color: #d10a42;
}

.catalog__items-group {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: -49px;
  width: 100%;
}

.catalog__items-group:not(:first-of-type) {
  display: none;
}

.catalog__item--active {
  border: 8px solid transparent;
  border-image: linear-gradient(-225deg, #b80027, #003d85) 30;
  padding: 53px 75px;
}

.catalog__items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.catalog__item:nth-of-type(3n) {
  margin-right: 0;
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .catalog__items-group {
    flex-direction: column;
    width: 57.6%;
    margin-right: 0;
  }

  .catalog__items {
    align-items: center;
  }

  .catalog::after {
    bottom: -40px;
    width: 345px;
    background-image: url("../img/weights-tablet.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/weights-tablet@2x.png");
    }
  }

  .catalog__wrapper {
    padding-top: 99px;

    min-width: 768px;
  }

  .catalog__title {
    padding-bottom: 28px;
  }

  .catalog__tab a {
    font-size: 18px;
  }

  .catalog__tabs-control {
    width: 335px;
  }

  .catalog__control {
    width: 334px;
  }

  .catalog__inner {
    @include container-tablet;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-maxWidth) {
  .catalog {
    padding-bottom: 42px;
  }

  .catalog__inner {
    @include container-mobile;
  }

  .catalog::after {
    display: none;
  }

  .catalog__items-group {
    margin: 0;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .catalog__item {
    margin: 0;
    margin-bottom: 30px;
    width: 290px;
  }

  .catalog__item--active {
    padding: 44px 67px;
  }

  .catalog__wrapper {
    padding-top: 68px;
  }

  .catalog__title {
    padding-bottom: 23px;
  }

  .catalog__tab a {
    font-size: 16px;
  }

  .catalog__tabs-control {
    width: 290px;
    padding-bottom: 33px;
  }

  .catalog__control {
    width: 100%;
  }

  .catalog__items {
    width: 100%;
  }

  .catalog__tabs {
    width: 290px;
  }
}
