.catalog {
  background-color: #f8f9fc;
  padding-bottom: 127px;
}

.catalog__wrapper {
  @include container-desktop;
  padding-top: 115px;
}

.catalog__title {
  text-align: center;
  padding-bottom: 35px;
}

.catalog__inner {
  font-family: $content-font;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__tabs {
  @include list-default;
  display: flex;
  margin-bottom: 40px;
  padding-bottom: 11px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
}

.catalog__tab:not(:nth-child(3n)) {
  padding-right: 46px;
}

.catalog__tab a {
  color: rgba(16, 38, 84, 0.5);
  font-size: 20px;
  line-height: 1.5;
}

.catalog__tab a:hover {
  color: #102654;
}

.catalog__items {
  display: flex;
  flex-wrap: wrap;
  margin-right: -49px;
  max-width: 1210px;
}

.catalog__item--active {
  border: 8px solid transparent;
  border-image: linear-gradient(-225deg, #b80027, #003d85) 30;
  padding: 53px 75px;
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .catalog__items {
    flex-direction: column;
    min-width: 60.72%;
    max-width: 100%;
    margin-right: 0;
  }

  .catalog__tab:not(:nth-child(3n)) {
    padding-right: 54px;
  }
}
