.coaches {
  padding-bottom: 119px;
  padding-top: 58px;
}

.coaches__wrapper {
  @include container-desktop;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coaches h2 {
  padding-bottom: 53px;
  align-self: flex-start;
}

.coaches__slide {
  position: relative;
  width: 260px;
  height: auto;
}


.coaches__slider__inner {
  position: relative;
  width: 90%;
}

.coaches__button-next {
  right: -52px;
}

.coaches__button-prev {
  left: -52px;
}

.coaches__info {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  flex-direction: column;
  align-items: center;
  padding: 0;
  padding-top: 53px;
  color: #ffffff;
  font-family: $content-font;
  font-size: 16px;
  overflow-y: auto;
  width: 100%;
  height: 100%;

  background-color: rgba(16, 38, 84, 0.89);
  display: none;
}

.coaches__slide-name {
  font-family: $content-font;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  position: absolute;
  text-align: center;
  width: 100%;
  justify-content: center;
  display: flex;
  bottom: 24px;
}

.coaches__info b {
  color: #ffffff;
  display: block;
}

.coaches__slide:hover .coaches__info {
  display: block;
  cursor: pointer;
}

.coaches__slide:hover .coaches__slide-name {
  display: none;
}

.coaches__slide img:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.coaches b {
  display: block;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

.coaches__info span {
  display: block;
  text-align: center;
  color: #b6bdcc;
  line-height: 1.5;
}

.coaches__feature:not(:last-of-type) {
  padding-bottom: 18px;
}

.coaches__features {
  margin: 0;
  padding-top: 29px;
  font-size: 14px;
}

@media (min-width: 1366px) {
  .coaches__slider__inner {
    width: 100%;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .coaches {
    padding-top: 41px;
    padding-bottom: 102px;
  }

  .coaches h2 {
    align-self: center;
    padding-bottom: 40px;
  }

  .coaches__wrapper {
    @include container-tablet;
    min-width: 576px;
    padding-left: 101px;
    padding-right: 101px;
  }

  .coaches__slider__inner {
    height: 294px;
    width: 100%;
  }

  .coaches__slide-button--next {
    right: 0;
  }

  .coaches__slide-button--prev {
    left: 0;
  }

  .coaches__slider-wrapper {
    height: 100%;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-maxWidth) {
  .coaches {
    padding-top: 7px;
    padding-bottom: 66px;
  }

  .coaches h2 {
    padding-bottom: 43px;
    align-self: center;
  }

  .coaches__wrapper {
    @include container-mobile;
    min-width: 290px;
  }

  .coaches__image {
    width: 100%;
    min-height: 274px;
  }

  .coaches__slider__inner {
    padding: 0 22px;
  }

  .coaches__button-next {
    right: -14px;
  }

  .coaches__button-prev {
    left: -14px;
  }

  .coaches__info {
    padding-top: 43px;
  }

  .coaches__features {
    padding-left: 30px;
  }
}
