.comments {
  padding-bottom: 120px;
}

.comments__wrapper {
  @include container-desktop;
}

.comments__title {
  padding-bottom: 53px;
  text-align: center;
}

.comments__slider-wrapper {
  width: 48.3%;
  margin: 0 auto;

  position: relative;
}

.comments__slider {
  background-color: #1c3374;
}

.comments__content {
  margin: 0;
}


.comments__slider-inner {
  @include list-default;
  margin: 0 auto;
  align-items: center;
}

.comments__slide {
  box-sizing: border-box;
  display: flex;
  padding: 55px 63px;
  font-family: $content-font;
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
  background-color: #1c3374;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
}

.comments__author {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  display: block;
  padding-bottom: 15px;
}

.comments__image {
  display: inline-block;
  align-self: flex-start;
  flex-shrink: 0;
  margin-top: 7px;
  margin-right: 26px;
}

.comments__button-next {
  right: -51px;
}

.comments__button-prev {
  left: -51px;
}

.comments__text {
  margin: 0;
}


@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .comments__wrapper {
    @include container-tablet;
  }

  .comments__slider-wrapper {
    width: 83.3%;
  }

  .comments__title {
    padding-bottom: 43px;
  }

  .comments {
    padding-bottom: 100px;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-maxWidth) {
  .comments__wrapper {
    @include container-mobile;
  }

  .comments {
    padding-bottom: 70px;
  }

  .comments__slide {
    flex-direction: column;
    padding: 40px 25px;
    align-items: center;
  }

  .comments__title {
    padding-bottom: 45px;
  }

  .comments__button-next {
    right: 0;
  }

  .comments__button-prev {
    left: 0;
  }

  .comments__slider-wrapper {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }

  .comments__slide blockquote {
    margin: 0;
    text-align: center;
  }

  .comments__image {
    margin: 0;
    position: absolute;
    width: 68px;
    height: 68px;
    margin-left: 16px;
  }

  .comments__author {
    text-align: left;
    margin-left: 48%;
    min-height: 60px;
    display: block;
    padding-left: 13px;
    padding-top: 3px;
  }

  .comments__text {
    padding-top: 6px;
  }
}
