/* autoprefixer grid: on */

.features {
  padding-top: 60px;
  background-color: #f8f9fc;
  padding-bottom: 116px;
}


.features__wrapper {
  @include container-desktop;
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
}

.features__title {
  text-align: center;
  padding-bottom: 60px;
}

.features__container {
  position: relative;
  display: grid;

  grid-template-columns: auto 341px auto;
  grid-template-rows: 236px 84px;


  @include list-default;
}


.features__item-inner {
  color: #ffffff;
  text-align: center;
  background: #1c3374;
  padding: 53px 34px;
  display: flex;
  flex-direction: column;
}

.features__container::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  background-color: rgba(209, 10, 66, 0.2);
}

.features__item {

  font-family: $content-font;
  font-size: 16px;
  line-height: 1.5;
  color: #102654;
  display: flex;
  padding-left: 18px;
}

.features__item--square {
  grid-row: 1;
  grid-column: 1;
}

.features__item--parking {
  grid-column: 3;
  grid-row: 1;
}

.features__item--places {
  grid-row: 2;
  grid-column: 1;
}

.features__item--expirience {
  grid-column: 3;
  grid-row: 2;
}

.features__item--center {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  padding-top: 9px;
  padding-left: 0;
  position: relative;
  z-index: 3;
  background-color: #f8f9fc;
}


.features__quantity {
  font-size: 71px;
  line-height: 1;
  font-weight: 700;
  background: linear-gradient(-225deg, #b80027, #003d85);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features__description {
  margin: 0;
}

.features__quantity small {
  display: block;
  color: #2e35ac;
  background: none;
  -webkit-text-fill-color: transparent;
}


.features__number {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.features__name {
  margin: 0;
  font-size: 22px;
  line-height: 1.5;
  padding-bottom: 6px;
}

.features__title-center {
  margin: 0;
  font-size: 74px;
  padding-bottom: 4px;
  line-height: 1;
}

.features__item--center small {
  font-size: 26px;
}

.features__item--center .features__number {
  padding: 0;
  padding-bottom: 30px;
}

.features__item--center .features__description {
  margin: 0;
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .features__wrapper {
    @include container-tablet;
    padding-top: 39px;
  }

  .features__title {
    padding-bottom: 42px;
  }

  .features__item {
    padding-left: 0;
  }

  .features__container {
    grid-template-columns: 52% auto;
    grid-template-rows: auto 321px auto;
  }

  .features__item--center {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;

    padding: 40px 118px;
  }

  .features__item-inner {
    width: 100%;
    padding-top: 36px;
  }

  .features__item--square {
    grid-column: 1;
    grid-row: 1;
  }

  .features__item--parking {
    grid-row: 1;
    grid-column: 2;
  }

  .features__item--places {
    grid-row: 3;
    grid-column: 1;
  }

  .features__item--expirience {
    grid-row: 3;
    grid-column: 2;
  }

  .features__quantity {
    font-size: 58px;
  }

  .features__name {
    font-size: 20px;
    padding-bottom: 2px;
  }

  .features__item--center small {
    font-size: 22px;
  }

  .features__item--center .features__number {
    padding-bottom: 9px;
  }

  .features__title-center {
    padding-bottom: 0;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-maxWidth) {
  .features {
    padding-top: 69px;
  }

  .features__title {
    padding-bottom: 42px;
  }

  .features__wrapper {
    @include container-mobile;
    padding: 0;
  }

  .features__container {
    display: flex;
    flex-direction: column;
  }


  .features__item-inner {
    padding: 31px 34px;
    width: 100%;
  }

  .features__item {
    padding: 0;
    align-items: center;
    flex-direction: column;
  }

  .features__text {
    text-align: center;
  }

  .features__quantity {
    font-size: 58px;
  }

  .features__name {
    font-size: 20px;
    padding-bottom: 2px;
  }

  .features__item--center small {
    font-size: 22px;
  }

  .features__number {

    align-items: center;
    padding: 0;
    padding-bottom: 5px;
  }
}
