/* autoprefixer grid: on */

.features {
  padding-top: 60px;
  background-color: #f8f9fc;
  padding-bottom: 55px;
}

.features__item-wrapper {
  display: flex;
  padding-top: 56px;
  padding-bottom: 69px;
}


.features__wrapper {
  @include container-desktop;
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
}

.features h2 {
  text-align: center;
}

.features__container {
  position: relative;
  display: grid;

  grid-template-columns: auto 320px auto;
  grid-template-rows: 54% 46%;


  @include list-default;
}

.features__quantity--center {
  display: block;
  padding-bottom: 5px;
  color: #ffffff;
  background: none;
}

.features__container::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  background-color: rgba(209, 10, 66, 0.2);
}

.features__item {

  font-family: $content-font;
  font-size: 16px;
  line-height: 1.5;
  color: #102654;
  display: flex;
  padding-left: 26px;
}

.features__item-wrapper--square {
  grid-row: 1;
  grid-column: 1;
}

.features__item-wrapper--parking {
  grid-column: 3;
  grid-row: 1;
}

.features__item-wrapper--places {
  grid-row: 2;
  grid-column: 1;
}

.features__item-wrapper--expirience {
  grid-column: 3;
  grid-row: 2;
}

.features__item-wrapper--center {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  padding-left: 0;
  position: relative;
  z-index: 3;
  background-color: #f8f9fc;
  padding-top: 68px;
}

.features__item--center {
  color: #ffffff;
  text-align: center;
  background: #1c3374;
  padding: 53px 34px;
  display: flex;
  flex-direction: column;
}

.features__quantity {
  font-size: 71px;
  line-height: 1;
  font-weight: 700;
}

@supports (-webkit-text-fill-color: transparent) {
  .features__quantity {
    background: linear-gradient(-225deg, #b80027, #003d85);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .features__quantity--center {
    color: #ffffff;
    background: none;
    -webkit-text-fill-color: unset;
  }
}


.features__description {
  margin: 0;
}

.features__quantity small {
  display: block;
  color: #2e35ac;
  background: none;
  -webkit-text-fill-color: transparent;
}


.features__number {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  user-select: none;
}

.features__name {
  margin: 0;
  font-size: 22px;
  line-height: 1.9;
}

.features__title-center {
  margin: 0;
  font-size: 74px;
  padding-bottom: 4px;
  line-height: 1;
}

.features__item--center small {
  font-size: 26px;
}

.features__item--center .features__number {
  padding: 0;
  padding-bottom: 36px;
}

.features__item--center .features__description {
  margin: 0;
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .features {
    padding-bottom: 95px;
  }

  .features__wrapper {
    @include container-tablet;
    padding-top: 39px;
  }

  .features h2 {
    padding-bottom: 42px;
  }

  .features__item {
    padding-left: 0;
  }

  .features__container {
    grid-template-columns: 52% auto;
    grid-template-rows: auto 321px auto;
  }

  .features__item--center {
    width: 100%;
    padding-top: 36px;
    padding-left: 26px;
  }

  .features__item-wrapper--square {
    grid-column: 1;
    grid-row: 1;
  }

  .features__item-wrapper--parking {
    grid-row: 1;
    grid-column: 2;
  }

  .features__item-wrapper--places {
    grid-row: 3;
    grid-column: 1;
  }

  .features__item-wrapper--expirience {
    grid-row: 3;
    grid-column: 2;
  }

  .features__quantity {
    font-size: 58px;
  }

  .features__item-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .features__name {
    font-size: 20px;
    line-height: 1.6;
  }

  .features__item--center small {
    font-size: 22px;
  }

  .features__item--center .features__number {
    padding-bottom: 9px;
  }

  .features__title-center {
    padding-bottom: 0;
  }

  .features__container::after {
    display: none;
  }

  .features__item-wrapper--center {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;

    padding: 40px 118px;
    padding-top: 44px;
    padding-bottom: 40px;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-maxWidth) {
  .features {
    padding-top: 69px;
    padding-bottom: 20px;
  }

  .features h2 {
    padding-bottom: 42px;
  }

  .features__wrapper {
    @include container-mobile;
    padding: 0;
  }

  .features__container::after {
    display: none;
  }

  .features__item-wrapper {
    padding: 0;
    width: 100%;
    padding-bottom: 34px;
  }

  .features__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .features__item {
    padding: 0;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .features__text {
    text-align: center;
  }

  .features__quantity {
    font-size: 58px;
  }

  .features__name {
    font-size: 20px;
    padding-bottom: 2px;
    line-height: 1.7;
  }

  .features__item--center small {
    font-size: 22px;
    font-weight: 700;
  }

  .features__number {

    align-items: center;
    padding: 0;
    padding-bottom: 5px;
  }

  .features__quantity--center {
    font-size: 74px;
    padding: 0;
  }


  .features__item--center {
    padding-bottom: 44px;
    padding-top: 36px;

    width: 100%;
  }

  .features__item--center .features__number {
    padding: 8px;
  }
}
