.form {
  width: 50%;

  @include container-desktop;
}

.form__title {
  margin-bottom: 48px;
  color: #ffffff;
  padding-top: 70px;
}

.form__field {
  margin: 0 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  font-family: $content-font;
  font-size: 14px;
  min-width: 190px;
  line-height: 16px;
  color: #ffffff;
  border: none;
  background-color: transparent;
  min-height: 30px;
  border-bottom: 1px solid #74819c;
}

input::placeholder {
  color: #ffffff;
}

.form__field:focus::placeholder {
  color: transparent;
  padding-left: 15px;
}

.form__field:focus {
  outline: none;
  border-top: 1px solid #f2f2f2;
}

.form__button {
  margin-top: 30px;
  width: 70.8%;
}

.form__fields {
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
}


@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .form {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #102654;
  }

  .form__wrapper {
    @include container-tablet;
    padding: 0 133px;
  }

  .form__button {
    width: 95%;
    margin-bottom: 34px;
  }

  .form__fields {
    display: flex;
    margin-left: -30px;
  }

  .form__field {
    min-width: 205px;
    margin: 0 30px;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-maxWidth) {
  .form {
    width: 100%;
    background-color: #102654;
    padding: 0;
    margin: 0;
    padding-bottom: 60px;
  }

  .form__wrapper {
    @include container-mobile;
  }

  .form__field {
    width: 100%;
  }

  .form__button {
    width: 100%;
  }
}
