.intro {
  letter-spacing: 0.03em;
  padding-bottom: 50px;

  color: #ffffff;
}

.intro::before {

  content: "";
  position: absolute;
  top: 0;
  z-index: -4;
  display: block;
  width: 100%;
  height: 660px;
  background: linear-gradient(#b80027  30%, #003d85 100%);
  background-image: url("../img/gradient.png");

  background-size: cover;
}

@supports (background: $gradient) {
  .intro::before {
    background: $gradient;
  }
}

.intro__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 44px;

  @include container-desktop;
  background-image: url("../img/welcome-photo@1x.jpg");
  background-repeat: no-repeat;
  background-position: 68.4% 0;
  background-size: 42% 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/welcome-photo@2x.jpg");
  }
}

.intro__text-content {
  padding-top: 118px;
  width: 100%;
}

.intro__inner {
  width: 34%;
}

.intro__socials {
  align-self: flex-end;
}

.intro__text-content span {
  font-family: $titles-font;
  font-size: 49px;
  line-height: 1;
  display: block;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: right;
  padding-bottom: 12px;

  user-select: none;
}

.intro__text-content h1 {
  margin: 0;
  font-family: $titles-font;
  font-size: 109px;
  line-height: 1;
  text-align: right;
  user-select: none;
  letter-spacing: 0.03em;
}

.intro__services-list {
  position: relative;
  bottom: 92px;
  right: 264px;
  font-weight: lighter;

  @include list-default;
  font-size: 14px;
  font-family: $content-font;
  display: flex;
  flex-direction: column;

  text-align: right;
}

.intro__service-item {
  line-height: 1.66;
  letter-spacing: normal;
  text-align: right;
}

.intro__socials-list {
  @include list-default;
}

.intro__socials-item {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-family: $content-font;
}

.intro__socials-item:not(:last-of-type) {
  margin-bottom: 18px;
}

.intro__socials-link:focus {
  font-weight: 700;
  outline: 2px solid #003d85;
}

.intro__button {
  margin-left: auto;
  margin-top: -14px;
  width: 58%;
}

.intro__button:focus {
  border-color: rgb(181, 33, 33);
}


.intro__button:hover {
  color: rgb(219, 212, 212);
  border-color: rgb(219, 212, 212);
}


@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .intro {
    padding-bottom: 62px;
  }

  .intro__service-item {
    line-height: 1.57;
    letter-spacing: normal;
    text-align: right;
    font-weight: 400;
  }

  .intro::before {
    height: 554px;
  }

  .intro__wrapper {
    @include container-tablet;
    background-size: 42% auto;
    background-position: 90% 19px;
    background-image: url("../img/welcome-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/welcome-photo-tablet@2x.jpg");
    }
  }

  .intro__text-content span {
    font-size: 34px;
    padding-bottom: 6px;
  }

  .intro__text-content h1 {
    font-size: 86px;
    padding: 0;
    font-weight: 700;
  }

  .intro__button {
    width: 57%;
    margin-top: -48px;
  }


  .intro__text-content {
    padding-top: 72px;
    width: 100%;
    padding-bottom: 27px;
  }

  .intro__inner {
    width: 48%;
  }

  .intro__socials {
    display: none;
  }

  .intro__services-list {
    right: 212px;
    bottom: 79px;
  }
}

@media (max-width: $mobile-maxWidth) {
  .intro__wrapper {
    @include container-mobile;
    background: none;
  }

  .intro__socials-list {
    display: none;
  }

  .intro__text-content span {
    font-size: 28px;
  }

  .intro__text-content h1 {
    font-size: 78px;
  }

  .intro__button {
    width: 100%;
    margin-top: -27px;
    padding-top: 22px;
  }

  .intro__text-content {
    width: 290px;
    padding-top: 71px;
  }

  .intro__services-list {
    bottom: 75px;
    right: 178px;
    line-height: 21px;
    font-weight: 500;
    font-size: 14px;
  }

  .intro::before {
    height: 491px;
  }

  .intro {
    padding-bottom: 36px;
  }

  .intro__inner {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
