.intro {
  letter-spacing: 0.03em;
  padding-bottom: 55px;

  color: #ffffff;
}

.intro::before {

  content: "";
  position: absolute;
  top: 0;
  z-index: -4;
  display: block;
  width: 100%;
  height: 656px;
  background: $gradient;
}

.intro__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 44px;

  @include container-desktop;
  background-image: url("../img/welcome-photo@1x.jpg");
  background-repeat: no-repeat;
  background-position: 69.4% 0;
  background-size: 42% 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/welcome-photo@2x.jpg");
  }
}

.intro__text-content {
  padding-top: 111px;
  width: 34%;
}

.intro__socials {
  align-self: flex-end;
}

.intro__town {
  font-family: $titles-font;
  font-size: 49px;
  line-height: 1;
  display: block;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: right;
  padding-bottom: 14px;

  user-select: none;
}

.intro__title {
  margin: 0;
  font-family: $titles-font;
  font-size: 109px;
  line-height: 1;
  text-align: right;
  user-select: none;
  letter-spacing: 0.03em;
}

.intro__services-list {
  position: relative;
  bottom: 94px;
  right: 260px;


  @include list-default;
  font-size: 14px;
  font-family: $content-font;
  display: flex;
  flex-direction: column;

  text-align: right;
}

.intro__service-item {
  line-height: 1.66;
  text-align: right;
}

.intro__socials-list {
  @include list-default;
}

.intro__socials-item {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-family: $content-font;
}

.intro__button {
  margin-left: auto;
  margin-top: -15px;
}

.intro__button:hover {
  color: rgb(219, 212, 212);
  border-color: rgb(219, 212, 212);
}


@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .intro {
    padding-bottom: 35px;
  }

  .intro::before {
    height: 554px;
  }

  .intro__wrapper {
    @include container-tablet;
    background-size: 43% auto;
    background-position: 90% 19px;
  }

  .intro__town {
    font-size: 34px;
    padding-bottom: 6px;
  }

  .intro__title {
    font-size: 86px;
    padding: 0;
    font-weight: 700;
  }

  .intro__button {
    width: 55%;
    margin-top: -30px;
  }


  .intro__text-content {
    padding-top: 72px;
    width: 48%;
    padding-bottom: 27px;
  }

  .intro__socials {
    display: none;
  }

  .intro__services-list {
    right: 205px;
    bottom: 85px;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-maxWidth) {
  .intro__wrapper {
    @include container-mobile;
    background: none;
  }

  .intro__socials-list {
    display: none;
  }

  .intro__town {
    font-size: 28px;
  }

  .intro__title {
    font-size: 78px;
  }

  .intro__button {
    width: 100%;
    margin-top: -27px;
  }

  .intro__text-content {
    width: 100%;
    padding-top: 71px;
  }

  .intro__services-list {
    bottom: 78px;
    right: 180px;
  }

  .intro::before {
    height: 491px;
  }

  .intro {
    padding-bottom: 36px;
  }
}
