
.offers {
  padding-top: 120px;
  padding-bottom: 117px;
}

.offers__wrapper {
  @include container-desktop;
}

.offers__title {
  text-align: center;
}

.offers__inner {
  padding-top: 51px;

  display: flex;
  font-family: $content-font;
}

.offers__unlimited {
  margin-right: 40px;
  flex-grow: 1;
  display: flex;
  flex-basis: 0;
}

.offers__unlimited-text {
  display: flex;
  flex-direction: column;
  padding: 33px 45px;
  background-color: #ed0233;
  color: #ffffff;
  font-weight: 700;
  width: 50%;
  padding-bottom: 45px;
}

.offers__unlimited-image {
  background-image: url("../img/offer_photo-desktop@1x.jpg");
  background-repeat: no-repeat;
  width: 50%;
  background-color: #62a9e2;
  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/offer_photo-desktop@2x.jpg");
  }
}

.offers__unlimited-text span {
  font-size: 28px;
  line-height: 1.56;
}

.offers__unlimited-text b {
  display: block;
  font-size: 70px;
  line-height: 1;
  padding-bottom: 18px;
}

.offers__unlimited-text p {
  margin: 0;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  padding-bottom: 189px;
}

.offers__link {
  width: fit-content;
  margin-top: auto;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  justify-self: flex-end;
}

.offers__link--white:focus {
  color: #62a9e2;
}

.offers__link--white:hover {
  color: #62a9e2;
}

.offers__link--blue:focus {
  color: #ed0233;
}

.offers__link--blue:hover {
  color: #ed0233;
}

.offers__link--blue {
  font-size: 12px;
  padding-top: 15px;
}

.offers__item {
  color: #1c3374;
  padding: 17px 28px;
  width: 100%;
  height: auto;
  border: 8px solid transparent;

  border-image-source: linear-gradient(-225deg, #b80027 30%, #003d85 100%);
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  padding-bottom: 27px;
  flex-grow: 1;
}

.offers__items-group {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
}

.offers__item:not(:last-of-type) {
  margin-bottom: 40px;
}

.offers__item h3 {
  margin: 0;
  font-size: 26px;
  line-height: 1.5;
  padding-bottom: 4px;
  font-weight: 700;
}

.offers__item p {
  font-size: 16px;
  margin: 0;
  line-height: 1.4;
}

.offers__item a {
  color: #1c3374;
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .offers {
    padding-top: 99px;
    padding-bottom: 53px;
  }

  .offers__wrapper {
    @include container-tablet;
  }

  .offers__inner {
    flex-direction: column;
    padding-top: 39px;
  }

  .offers__unlimited-image {
    width: 59%;
    background-image: url("../img/offer_photo-tablet@1x.jpg");
    background-color: #62a9e2;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/offer_photo-tablet@2x.jpg");
    }
  }

  .offers__unlimited-text {
    width: 41%;
    padding: 33px 44px;
  }

  .offers__item:not(:last-of-type) {
    margin-bottom: 0;
  }

  .offers__link--white {
    padding-bottom: 13px;
  }

  .offers__unlimited {
    margin: 0;
    margin-bottom: 30px;
  }

  .offers__unlimited-text p {
    padding-bottom: 188px;
  }

  .offers__items-group {
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -30px;
  }

  .offers__unlimited-text b {
    padding-bottom: 15px;
  }

  .offers__item {
    flex-basis: 0;
    flex-grow: 1;
    padding: 18px 28px;
    min-height: 217px;
    margin-right: 30px;
    padding-bottom: 32px;
  }
}

@media (max-width: $mobile-maxWidth) {
  .offers {
    padding-top: 67px;
    padding-bottom: 67px;
  }

  .offers__unlimited-text b {
    padding-bottom: 13px;
  }

  .offers__unlimited-text span {
    line-height: 1.4;
  }

  .offers__items-group {

    flex-basis: auto;
    display: -webkit-flex;
  }

  .offers__wrapper {
    @include container-mobile;
  }

  .offers__item {
    padding: 28px 20px 40px;
    text-align: center;
    flex-basis: auto;
    display: -webkit-flex;
  }

  .offers__item:not(:last-of-type) {
    margin-bottom: 30px;
  }


  .offers__item p {
    margin-bottom: 25px;
  }

  .offers__inner {
    flex-direction: column;
    padding-top: 45px;
  }

  .offers__unlimited {
    flex-direction: column;
    flex-basis: auto;
    display: -webkit-flex;
    margin: 0;
    width: 100%;
    margin-bottom: 27px;
    height: 600px;
  }

  .offers__unlimited-text {
    flex-grow: 1;
    height: 50%;
    width: 100%;
    text-align: center;
  }

  .offers__unlimited-image {
    width: 100%;
    height: 50%;
    flex-grow: 1;

    background-image: url("../img/offer_photo-mobile@1x.jpg");
    background-size: 100%;
    background-position: top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/offer_photo-mobile@2x.jpg");
    }
  }

  .offers__unlimited-text p {
    padding-bottom: 31px;
  }

  .offers__link {
    align-self: center;
    margin-top: 0;
  }
}
