.page-footer {
  background-color: #030a1a;
  font-family: $content-font;
  font-size: 14px;
  line-height: 16px;
  justify-self: flex-end;
}

.page-footer__wrapper {
  @include container-desktop;
  padding-top: 44px;
  padding-bottom: 44px;
}

.page-footer__inner {
  display: flex;
  justify-content: space-between;
}

.page-footer__nav {
  display: flex;
}

.page-footer__nav-list {
  @include list-default;
  display: flex;
}

.page-footer__logo-wrapper {
  display: block;
  width: 90px;
  height: 20px;
}

.page-footer__nav-item--logo-mobile {
  display: none;
}

.page-footer__nav-item:not(:last-of-type) {
  margin-right: 40px;
}

.page-footer__nav-item:hover .page-footer__nav-link {
  color: #b80027;
}

.page-footer__socials {
  display: flex;
  align-items: flex-start;
}

.page-footer__nav-link:focus {
  outline: none;
  color: #b80027;
}


@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .page-footer__wrapper {
    @include container-tablet;
  }

  .page-footer__logo-wrapper {

    width: 82px;
    height: 18px;
  }

  .page-footer__nav-item:not(:last-of-type) {
    margin-right: 20px;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-maxWidth) {
  .page-footer {

    font-size: 16px;
    line-height: 19px;
    display: grid;
  }

  .page-footer__wrapper {
    @include container-mobile;
    width: 100%;
  }

  .page-footer__inner {
    flex-direction: column;
  }

  .page-footer__logo-wrapper {
    display: none;
  }

  .page-footer__logo-wrapper--mobile {
    display: block;
    width: 68px;
  }

  .page-footer__nav-item--logo-mobile {
    display: block;
    margin-top: -3px;
    padding-top: 4px;
  }

  .page-footer__nav-list {
    display: block;
    column-count: 2;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 15px;
  }

  .page-footer__nav-item {
    padding: 10px 0;
    margin: 0;
  }
}
