.page-header {
  font-family: $titles-font;
}

.page-header__wrapper {
  @include container-desktop;
  display: flex;
  padding-top: 30px;
}

.page-header__logo-wrapper {
  width: 90px;
  height: 20px;
}

.page-header__phone {
  margin-left: auto;
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.03em;
}

.page-header__phone:hover {
  color: #f2f2f2;
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .page-header__wrapper {
    @include container-tablet;
    padding-top: 40px;
  }

  .page-header__logo-wrapper {
    width: 82px;
    height: 17px;
  }

  .page-header__phone {
    font-size: 24px;
    letter-spacing: 0.02em;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-maxWidth) {
  .page-header__wrapper {
    @include container-mobile;
    padding-top: 20px;
  }

  .page-header__logo-wrapper {
    width: 68px;
    height: 15px;
  }

  .page-header__phone {
    font-size: 20px;
  }
}
