.page-header {
  font-family: $titles-font;
}

.page-header__wrapper {
  @include container;
  display: flex;
  padding-top: 30px;
}

.page-header__logo-image {
  width: 90px;
  height: 20px;
}

.page-header__phone {
  margin-left: auto;
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.03em;
}

.page-header__phone:hover {
  color: #f2f2f2;
}
