.promo {
  padding-top: 119px;
  padding-bottom: 60px;
}

.promo__wrapper {
  @include container-desktop;
}

.promo__inner {
  display: flex;
  width: 100%;
}

.promo__image {
  width: 56.9%;
  background-image: url("../img/supergames-photo@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000145;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {

    background-image: url("../img/supergames-photo@2x.jpg");
  }
}

.promo__content {
  padding: 84px 78px;
  background-color: #ed0233;
  width: 43.1%;
}

.promo h2 {
  padding-right: 50px;
  padding-bottom: 10px;
  margin: 0;
  font-family: $titles-font;
  font-size: 90px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.promo__date-label:first-of-type {
  padding-top: 0;
  font-size: 18px;
  line-height: 1.2;
}

.promo__date--day span {
  font-size: 15px;
  line-height: 1.3;
  padding-top: 5px;
}

.promo__details {
  display: flex;
}

.promo__date-wrapper {
  display: flex;
  flex-direction: column;
}

.promo__date time {
  display: flex;
  border-top: 1px solid #ffffff;
}

.promo__content p {
  font-size: 18px;
  line-height: 1.5;
  font-family: $content-font;
  color: #ffffff;
  padding-bottom: 47px;
  margin: 0;
}

.promo__button {
  min-width: 343px;
  padding-top: 25px;
}


.promo__button:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #ed0233;
  color: #ed0233;
}

.promo__button:hover {
  background-color: #ffffff;
  color: red;
}


.promo__date {
  width: fit-content;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  font-family: $content-font;
}

.promo__date--day {
  padding-bottom: 16px;
  line-height: 1.3;
}


.promo__date--day b {
  font-size: 40px;
  padding-right: 7px;
}

.promo__date-label {
  display: block;
  padding-top: 5px;
  padding-bottom: 6px;
}

.promo__date--time time {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}

.promo-date--day span {
  font-size: 15px;
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .promo__wrapper {
    @include container-tablet;
    margin: 0;
    max-width: unset;
  }

  .promo__date-label:first-of-type {
    padding-top: 0;
    font-size: 12px;
    padding-bottom: 2px;
  }

  .promo__date--time .promo__date-label {
    padding-bottom: 4px;
  }

  .promo {
    padding-top: 100px;
  }

  .promo h2 {
    font-size: 52px;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .promo__inner {
    width: 100%;
  }

  .promo__content p {
    font-size: 12px;
    padding-bottom: 31px;
  }

  .promo__content {
    padding: 49px 45px;
  }


  .promo__date--day span {
    font-size: 12px;
    line-height: 1;
    padding-top: 0;
    padding-bottom: 5px;
  }

  .promo__date--time time {
    line-height: 1;
  }

  .promo__date time {
    font-size: 24px;
  }

  .promo__date--time span {
    font-size: 12px;
    padding-bottom: 5px;
  }

  .promo__date--day b {
    font-size: 24px;
    padding-right: 4px;
  }

  .promo__date--day > time > span {
    padding-top: 2px;
    line-height: 1.3;
    font-size: 10px;
  }

  .promo__date--day {
    padding-bottom: 3px;
    line-height: 1.2;
  }


  .promo__button {
    min-width: 202px;
    border-width: 2px;
    font-weight: 400;
    font-size: 10px;
    padding-top: 11px;
    padding-bottom: 12px;
  }
}

@media (max-width: $mobile-maxWidth) {
  .promo {
    padding-top: 63px;
  }

  .promo__wrapper {
    @include container-mobile;
  }

  .promo__inner {
    width: 100%;
    flex-direction: column;
    min-height: 584px;
  }

  .promo__image {
    background-image: url("../img/supergames-photo-mobile@1x.jpg");
    height: 50%;
    width: 100%;
    flex-grow: 1;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/supergames-photo@2x.jpg");
    }
  }

  .promo__content {
    padding: 49px 44px;
    width: 100%;
  }

  .promo__button {
    min-width: 202px;
    padding-top: 11px;
    font-size: 10px;
    padding-bottom: 11px;
    border-width: 2px;
    font-weight: 500;
  }

  .promo__date-label:first-of-type {
    padding-top: 0;
    font-size: 12px;
    line-height: 1;
    padding-bottom: 5px;
  }

  .promo__date--day span {
    line-height: 1.3;
    font-size: 10px;
    padding-top: 3px;
  }

  .promo__date--day {
    padding-bottom: 5px;
  }

  .promo__date--time .promo__date-label {
    padding-bottom: 5px;
  }

  .promo h2 {
    font-size: 52px;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .promo__date--day time {
    font-size: 10px;
  }

  .promo__date--time time {
    font-size: 24px;
    line-height: 1;
  }


  .promo-date--day {
    padding-bottom: 0;
  }

  .promo__date--day b {
    font-size: 24px;
    padding-right: 4px;
  }

  .promo__date b {
    padding-bottom: 0;
  }

  .promo__date-label {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .promo__content p {
    font-size: 12px;
    padding-bottom: 31px;
  }
}
