.promo {
  padding-top: 120px;
  padding-bottom: 60px;
}

.promo__wrapper {
  @include container-desktop;
}

.promo__inner {
  display: flex;
  width: 100%;
  background-image: url("../img/supergames-photo@1x.jpg"), linear-gradient(to right, #ed0233  44.6%, #000145 44.6%);
  background-repeat: no-repeat;
  background-position: right;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-size: 57%, 100%;
    background-position: right, left;
    background-image: url("../img/supergames-photo@2x.jpg"), linear-gradient(to right, #ed0233  44.6%, #000145 44.6%);
  }
}

.promo__content {
  padding: 78px 58px;
  width: 44.6%;
}

.promo__title {
  padding-right: 50px;
  padding-bottom: 10px;
  margin: 0;
  font-family: $titles-font;
  font-size: 90px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.promo__details {
  display: flex;
}

.promo__date-wrapper {
  display: flex;
  flex-direction: column;
}

.promo__date time {
  display: flex;
  border-top: 1px solid #ffffff;
}

.promo__note {
  font-size: 18px;
  line-height: 1.5;
  font-family: $content-font;
  color: #ffffff;
  padding-bottom: 42px;
  margin: 0;
}

.promo__button {
  min-width: 343px;
  padding-top: 25px;
}

.promo__button:hover {
  color: #f2f2f2;
  border-color: #f2f2f2;
}

.promo__date {
  width: fit-content;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  font-family: $content-font;
}

.promo__date--day {
  padding-bottom: 3px;
  line-height: 1.3;
}


.promo__date--day b {
  font-size: 40px;
  padding-right: 10px;
}

.promo__date-label {
  display: block;
  padding-top: 5px;
}

.promo__date--time time {
  font-size: 40px;
  line-height: 1.5;
  font-weight: 700;
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .promo__wrapper {
    @include container-tablet;
    margin: 0;
    max-width: unset;
  }

  .promo__title {
    font-size: 52px;
  }

  .promo__inner {
    width: 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-size: 55%, 100%;
    }
  }

  .promo__note {
    font-size: 12px;
    padding-bottom: 36px;
  }

  .promo__content {
    padding: 51px 45px;
  }

  .promo__date-label {
    font-size: 12px;
  }

  .promo__date--day span {
    font-size: 10px;
  }

  .promo__date time {
    font-size: 24px;
  }

  .promo__date--day b {
    font-size: 24px;
  }

  .promo__button {
    min-width: 202px;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-maxWidth) {
  .promo {
    padding-top: 70px;
  }

  .promo__wrapper {
    @include container-mobile;
  }

  .promo__inner {
    width: 100%;
    min-height: 584px;
    background-image: url("../img/supergames-photo@1x.jpg");
    background-size: auto 50%, 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/supergames-photo@2x.jpg"), linear-gradient(to bottom, #ed0233 50%, #000145 50%);
      background-position: bottom, top;
    }
  }

  .promo__content {
    padding: 51px 44px;
    width: 100%;
  }

  .promo__button {
    min-width: 202px;
    padding-top: 11px;
    font-size: 10px;
    padding-bottom: 11px;
    border-width: 2px;
    font-weight: 500;
  }

  .promo__title {
    font-size: 52px;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .promo__date--day time {
    font-size: 10px;
  }

  .promo__date--time time {
    font-size: 24px;
    line-height: 1;
  }


  .promo-date--day {
    padding-bottom: 0;
  }

  .promo__date--day b {
    font-size: 24px;
    padding-right: 4px;
  }

  .promo__date b {
    padding-bottom: 0;
  }

  .promo__date-label {
    font-size: 12px;
    padding-top: 0;
  }

  .promo__note {
    font-size: 12px;
    padding-bottom: 29px;
  }
}
