.socials {
  @include list-default;
}

.socials__item:not(:last-of-type) {
  padding-right: 25px;
}

.socials__icon {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: auto;
  fill: #ffffff;
}

.socials__icon:hover {
  fill: #b80027;
}

.socials__link {
  display: inline-block;
  vertical-align: middle;
}

.socials__link:focus .socials__icon {
  fill: #b80027;
}

.socials__link:focus {
  outline: none;
}

.socials__link--vk {
  width: 24px;
  height: 13px;
}

.socials__link--inst {
  width: 24px;
  height: 24px;
}

.socials__link--fb {
  width: 12px;
  height: 24px;
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .socials__item:not(:last-of-type) {
    padding-right: 21px;
  }
}

@media (max-width: $mobile-maxWidth) {
  .socials {
    padding-top: 11px;
  }

  .socials__link--vk {
    width: 33px;
  }

  .socials__link--inst {
    width: 26px;
  }

  .socials__item:not(:last-of-type) {
    padding-right: 35px;
  }
}
