.table {
  font-family: $content-font;
  color: #102654;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  border-spacing: 8px;
  user-select: none;
}

.table__block {
  background-color: #f8f9fc;
  cursor: pointer;
}

.table__block:not(:first-of-type) {
  width: 149px;
}

.table__block--day {
  border: 2px solid #1c3374;
  background-color: #ffffff;
  height: 66px;
}

.table__row--days td:first-of-type {
  background-color: transparent;
  border: none;
}

.table__block--time {
  border: 2px solid #1c3374;
  background-color: #ffffff;
  height: 110px;
}

.table__block--highlighted {
  background-color: #ffffff;
  border: 2px solid #ed0233;
  color: #ed0233;
}

.table__block--red-highlighted {
  border: none;
  color: #ffffff;
  background-color: #ed0233;
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .table__block:not(:first-of-type) {
    min-width: 146px;
  }

  .table__block--time {
    min-width: 62px;
  }
}
