.timetable {
  padding-top: 118px;
  padding-bottom: 120px;
}

.timetable__wrapper {
  @include container-desktop;
  padding-left: 15px;
  padding-right: 12px;
}

.timetable__button {
  border: none;
  display: none;
  background: none;
}

.timetable__wrapper h1 {
  text-align: center;
  margin-bottom: 44px;
}

.timetable__table {
  width: 100%;
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .timetable__wrapper {
    @include container-tablet;
    padding-left: 112px;
    padding-right: 37px;
  }

  .timetable {
    padding-top: 79px;
  }

  .timetable__wrapper h1 {
    margin-bottom: 33px;
    margin-right: 78px;
  }

  .timetable__table {
    margin-left: -7px;
  }

  .timetable__table-wrapper {
    overflow-x: scroll;
  }

  ::-webkit-scrollbar {
    height: 4px;
    background-color: #feebef;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ed0233;
  }
}

@media (max-width: $mobile-maxWidth) {
  .timetable__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .timetable__table-wrapper {

    position: relative;
  }

  .timetable__button {
    display: block;
    width: 51px;
    height: 60px;
    right: 0;
    top: 18px;
    background-image: url("../img/icon-arrow-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 2px solid #1c3374;
    border-right: 2px solid #1c3374;
    border-top: 2px solid #1c3374;
    cursor: pointer;
  }

  .timetable__button--opened {
    background-image: url("../img/icon-arrow-mobile-opened.svg");
  }

  .timetable {
    padding-top: 69px;
  }
}

