@mixin list-default {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin container-desktop {
  max-width: $desktop-width;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@mixin container-tablet {
  max-width: $tablet-width;
  padding-left: 45px;
  padding-right: 45px;
  margin: 0 auto;
}

@mixin container-mobile {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
